<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<serverOperation>
    <library>
        <libraryBooks>
            <bookBorrowed>false</bookBorrowed>
            <bookTitle>book1</bookTitle>
        </libraryBooks>
        <libraryBooks>
            <bookBorrowed>false</bookBorrowed>
            <bookTitle>book2</bookTitle>
        </libraryBooks>
        <libraryBooks>
            <bookBorrowed>true</bookBorrowed>
            <bookTitle>book3</bookTitle>
        </libraryBooks>
        <libraryBooks>
            <bookBorrowed>true</bookBorrowed>
            <bookTitle>book4</bookTitle>
        </libraryBooks>
        <libraryBooks>
            <bookBorrowed>true</bookBorrowed>
            <bookTitle>book5</bookTitle>
        </libraryBooks>
        <libraryBooks>
            <bookBorrowed>true</bookBorrowed>
            <bookTitle>book6</bookTitle>
        </libraryBooks>
    </library>
    <users>
        <personEmail>c</personEmail>
        <personName>c</personName>
        <personPassword>c</personPassword>
        <personSurname>c</personSurname>
    </users>
    <users>
        <personBooks>
            <bookBorrowed>false</bookBorrowed>
            <bookTitle>book6</bookTitle>
        </personBooks>
        <personEmail>b</personEmail>
        <personName>b</personName>
        <personPassword>b</personPassword>
        <personSurname>b</personSurname>
    </users>
    <users>
        <personBooks>
            <bookBorrowed>false</bookBorrowed>
            <bookTitle>book4</bookTitle>
        </personBooks>
        <personBooks>
            <bookBorrowed>false</bookBorrowed>
            <bookTitle>book5</bookTitle>
        </personBooks>
        <personBooks>
            <bookBorrowed>false</bookBorrowed>
            <bookTitle>book6</bookTitle>
        </personBooks>
        <personBooks>
            <bookBorrowed>false</bookBorrowed>
            <bookTitle>book3</bookTitle>
        </personBooks>
        <personEmail>a</personEmail>
        <personName>a</personName>
        <personPassword>a</personPassword>
        <personSurname>a</personSurname>
    </users>
</serverOperation>
